@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
	background-image: url('../images/bdaybg.jpg');
	background-attachment: fixed;
	background-position: center;
	width: 98%;
}

.main {
	background-color: lightblue;
	color: black;
	width: 450px;
	opacity: 0.8;
	margin: 0 auto;
	padding:  10px;
	border-style: solid;
	border-color: #EAA221;
	border-radius: 13px;
	color: black;
}

p {
	font-family: 'Comic Neue', cursive;
	font-size: 1.5rem;
}

.he1 {
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	background-color: #EAA221;
	padding: 10px;
	margin: 10px;
	margin-top: 15px;
	border-radius: 15px;
	text-align: center;
}

.he2 {
	font-family: 'Indie Flower', cursive;
	font-size: 1.9rem;
}

.img {
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 350px;
	text-align: center;
}

.img2 {
	display: block;
	width: 453px;
	margin: 0 auto;
	text-align: center;
}

@media only screen and (max-width: 1060px) {
	body {
		background-attachment: scroll;
		background-position: unset;
		width: 100%;
	}

	.main {
		width: 90%;
	}

	.img {
		width: 85%;
		margin: 0 auto;
	}

	.img2 {
		width: 95%;
	}
       
	.he1 {
		font-size: 5rem;     

	}
	
	.he2 {
		font-size: 3.5rem;
	}

	p {
		font-size: 2.5rem;

	}

	}
