@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#head {
	padding: 0 10px 0 10px;
	height: 50px;
}

#head_icons a {
        text-decoration: None;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.hicon {
	padding: 5px;
	margin-top: 15px;
	padding-left: 15px;
}

#head h1 {
	font-size: 1.8rem;
	margin-top: 20px;
	border-right: solid;
	border-right-width: 2px;
	border-right-color: silver;
	padding-right: 14px;
	margin-top: 6px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-weight: normal;
}

#welcome {
	margin-top: 0px;
	background-image: url("../images/bg.png");
	height: 400px;
	width: 100%;
	color: white;
}

#welcome h2 {
	padding-top: 140px;
	font-size: 3.4rem;
	margin-top: 15px;
}

#about {
	background-color: white;
	color: black;
	padding-top: 30px;
	height: 420px;
}

#mylogo {
	padding-left: 20px;
	width: 32%;
	float: left;
}


#about h3,p {
	float: left;
	text-align: left;
	width: 55%;
	margin-left: 35px;
}

.visitcounter {
	float: left;
	text-align: left;
	margin-left: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #185adb;
	border-radius: 6px;
	display: block;
}


#about h3 {
	color: #185adb;
	font-size: 3rem;
	margin-bottom: 0px;
	margin-top: 3%; /*calc(auto+10px);*/
}

#about p {
	font-size: 1.3rem;
	display: block;
}

#projects {
	background-color: #01122e;
	padding-bottom: 75px;
	text-decoration: none;
}

#projects h2 {
	padding-top: 55px;
	padding-bottom: 35px;
	color: #ffd537;
	font-size: 3rem;
}

#projects p {
	font-size: 1.4rem;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	text-align: center;
}

#projects a p {
	text-decoration: none;
	color: black;
}

#project1 {
	width: 45%;
	background-color: white;
	margin-left: 3%;
	border-radius: 9px;
	float: left;
	border-style: solid;
	border-width: 5px;
	border-color: silver;
}

#project1 img {
	width: 99.6%;
	margin-left: 0.2%;
	margin-right: 0.2%;
	margin-top: 0.5%;
}

#project2 {
	width: 45%;
	background-color: white;
	margin-left: 3%;
	border-radius: 9px;
	float: left;
	border-style: solid;
	border-width: 5px;
	border-color: silver;
}

#project2 img {
	width: 99.6%;
	margin-left: 0.2%;
	margin-right: 0.2%;
	margin-top: 0.5%;
	margin-bottom: 3px;
}

#project3 {
	width: 45%;
	background-color: white;
	margin-left: 3%;
	border-radius: 9px;
	float: left;
	margin-top: 30px;
	text-align: center;
	border-style: solid;
	border-width: 5px;
	border-color: silver;
}

#project3 img {
	width: 35%;
	margin-left: 0.2%;
	margin-right: 0.2%;
	margin-top: 2%;
}

#project3 p {
	margin: 0;
	margin: 10px 0 15px 0;
	text-align: center;
}

#project4 {
	width: 45%;
	background-color: white;
	margin-left: 3%;
	margin-top: 30px;
	border-radius: 9px;
	float: left;
	border-style: solid;
	border-width: 5px;
	border-color: silver;
}

#project4 img {
	width: 75%;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 1%;
}

#project4 p {
	text-align: center;
	margin: 10px 0 13px 0;
}

#project5 {
	width: 45%;
	background-color: white;
	margin-top: 30px;
	margin-left: 3%;
	border-radius: 9px;
	float: left;
	border-style: solid;
	border-width: 5px;
	border-color: silver;
}

#project5 img {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	border-style: solid;
	border-radius: 10px;
}

#project5 p {
	text-align: center;
	margin: 15px 0 15px 0;
} 

#project6 {
	width: 45%;
	background-color: white;
	margin-top: 30px;
	margin-left: 3%;
	border-radius: 9px;
	fill: currentColor;
	float: left;
	border-style: solid;
	border-width: 5px;
	border-color: silver;
}

#project6 img {
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 5%;
}

#project6 p {
	text-align: center;
	margin-top: 17px;
	margin-bottom: None;
	margin-left: 0;
}

.conicons {
	margin-top: 10px;
	width: 18px;
}

#contacticons a {
	display: block;
	text-decoration: None;
	color: black;
	font-size: 18px;
}

#contact {
	width: 100%;
}

#contact h2 {
	color: #007bd9;
	margin-bottom: 50px;
}

#contacticons {
	width: 200px;
	background-color: #fcc054;
	padding: 8px;
	color: black;
	border-radius: 7px;
	float: left;
	margin-right: none;
	margin-left: 10%;
	padding-left: 20px;
	margin-top: 75px;
}


#contact form {
	margin-left: 8%;
	width: 40%;
	float: left;
}

#contact input,textarea {
	padding: 7px;
	width: 100%;
	border-width: 3px;
	border-style: solid;
	border-color: #72a2ff;
	border-radius: 6px;
}

#contact h4 {
	margin-bottom: 0;
	margin-right: none;
}

#contact input[type=submit] {
	width: 100px;
	border: None;
	background-color: #4800dd;
	color: white;
	font-size: 18px;
	padding: 7px;
	margin-top: 10px;
}

#space {
	margin-top: 40px;
	height: 130px;
	background-color: #01122e;
}

#footer {
	text-align: center;
	background-color: #4800dd;
	padding: 15px;
	padding-top: 25px;
	font-size: 1.6rem;
	color: white;
}

#footer h2 {
	font-family: "Esteban", serif;
	font-size: 3rem;
	font-weight: normal;
	margin-top: 30px;
}

#footericons {
	margin-bottom: 15px;
}

#footericons a {
	text-decoration: None;
}

.footicon {
	padding: 5px;
	margin-top: 15px;
	padding-right: 55px;
	margin-bottom: 15px;
	filter: invert(100%);
}

.footiconlone {
	margin-bottom: 15px;
	padding: 5px;
	margin-top: 5px;
	filter: invert(100%);
}

#footer p {
	font-size: 1.1rem;
	margin-top: 0px;
	width: 96%;
	margin-left: 0px;
	margin-bottom: 0px;
	text-align: right;
	color: white;
}

#aagam {
	color: pink;
	text-decoration: underline;
}


/* Common classes */

.fleft {
	float: left;
}

.fright {
	float: right;
}

.clear {
	clear: both;
}

#head {
	height: 50px;
}

.inline {
	display: inline;
}

h1 {
	padding: 0;
}

#frostlogo {
	margin-top: 12px;
}
