body{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: url('../images/background.png');
	background-attachment: fixed;
	background-position: center;
}


h1 {
	font-size: 47px;
	font-family: 'Comic Neue', cursive;
}

h3 {
	background: #02d3e6;
	padding: 7px;
	border-radius: 10px;
	color: black;
	text-align: center;
}

p {
	font-family: 'Comfortaa', cursive;
}
.main {
	background-color: black;
	color: white;
	width: 600px;
	padding: 20px;
	border-radius: 15px;
	opacity: 0.8;
	margin: auto;
}

a {
	text-decoration: none;
	color: #82bcff;
}

li {
	font-family: 'Comfortaa', cursive;
}